.container {
    max-width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.list-view{
    max-width: 60vw;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .list-view{
        max-width: 90vw;
        margin-top: 50px;
    }       
}

.list-head{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.list-head a{
    font-weight: 400;
}

.img-class{
    height: 300px;
    max-width: 300px;
    object-fit: contain;
}

.details-view{
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.summary{
    max-width: 600px;
    margin: auto;
    display: flex;
    height: 100vh;
    align-items: center;
}